@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/

/*===== Colors & Background =====*/
$primary-color:red;
$primary-color-dark:rgb(206, 3, 3);
$primary-color-darken:rgb(173, 7, 7);
$secondary-color:rgb(50, 240, 50);
$secondary-color-dark:rgb(5, 179, 5);
$secondary-color-darken:rgb(2, 95, 2);
$white-color:#FCF8F8;
$ham-color: #c983c7bf;
$backpic: url(/back.jpg);

/*===== Font and typography =====*/
$body-font: 'Poppins',sans-serif;
$normal-font-size: .938rem;
$medium-font-size: 1.2rem;
$big-font-size: 2.5rem;

$font-weight:500;

@media screen and (max-width: 768px) {
    :root {
        $normal-font-size: 1rem;
        $medium-font-size: 1.5rem;
        $big-font-size: 2.5rem;
    }
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $body-font;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}