@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/
/*===== Colors & Background =====*/
/*===== Font and typography =====*/
*,
::before,
::after {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*===== LAYOUT =====*/
body {
  font-weight: 500;
  font-size: 0.938rem;
}

body section:nth-child(1) {
  position: relative;
  padding: 7rem 4vw 4vw 4vw;
  min-height: 100vh;
  background: url(/back.jpg) center center fixed;
}

body section:nth-child(2) {
  background: url(/back.jpg) center center fixed;
}

/* ===== Squares ===== */
.square {
  position: fixed;
  font-family: monospace;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  backdrop-filter: blur(5px);
}

.square:nth-child(1) {
  top: 58%;
  left: 10%;
  height: 75px;
  width: 75px;
}

.square:nth-child(2) {
  top: 20%;
  left: 20%;
  height: 80px;
  width: 80px;
}

.square:nth-child(3) {
  top: 49%;
  left: 49%;
  height: 65px;
  width: 65px;
}

.square:nth-child(4) {
  left: 72%;
  height: 93px;
  width: 93px;
  top: 71%;
}

.square:nth-child(5) {
  top: 60px;
  right: 29px;
  height: 90px;
  width: 90px;
}

/*===== NAV =====*/
header {
  position: fixed;
  top: 20px;
  right: 5%;
  left: 5%;
  z-index: 10;
  display: flex;
  padding: 20px 50px;
  align-items: center;
  backdrop-filter: blur(5px);
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

header img {
  height: 30px;
}

header .logo {
  display: flex;
  align-items: center;
  color: #9b1abb;
  font-size: 1.2rem;
  gap: 5px;
}

header ul {
  display: flex;
  transition: all 0.3s ease-in-out;
}

header ul li {
  margin: 0 10px;
}

header ul li a {
  color: #9b1abb;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

header ul li a:hover, header ul li a.active {
  background: rgba(255, 255, 255, 0.349);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/*=== Content ===*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5rem 0;
}

.content .about {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content .about h2 {
  line-height: 2rem;
}

.content .illustration {
  width: 42vw;
  transform: translate(20px);
}

.content #container {
  align-items: center;
}

.content .divider {
  background-image: linear-gradient(to right, #4a4a59, #db56f8);
  border-radius: 1rem;
  padding: .1rem 0;
  position: relative;
  z-index: 1;
  margin: 19px 17vw 19px 0;
}

.content .divider:before {
  border-radius: inherit;
  background-image: linear-gradient(to right, #db56f8, #4a4a59);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 0.5s ease-in-out;
}

.content .divider:hover:before {
  opacity: 1;
}

.content .social-icon {
  display: flex;
  gap: 15px;
}

.content .social-icon a {
  font-size: 1.5rem;
  color: #4b4b5b;
  width: 50px;
  height: 50px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  transition: all .4s ease-in-out;
  overflow: hidden;
}

.content .social-icon a:hover {
  color: #34325e;
  transform: translateY(-20px);
}

.content .social-icon a:hover::before {
  transform: skewX(45deg) translateX(-100px);
}

.content .social-icon a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(100px);
  transition: .5s;
}

.primary-links ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.primary-links ul .btn-1,
.primary-links ul .btn-2,
.primary-links ul .btn-3,
.primary-links ul .btn-4 {
  border-radius: 3px;
  position: relative;
  width: 115px;
  height: 50px;
  background: #3d3632;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

.primary-links ul .btn-1 a span {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3d3632;
  background: #47a1f7;
  transition: 0.5s ease-in-out;
}

.primary-links ul .btn-1 a span:nth-child(2) {
  color: #47a1f7;
  background: #3d3632;
  z-index: 2;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  clip-path: polygon(0% 0%, 50% 0, 80% 50%, 50% 100%, 0% 100%);
}

.primary-links ul .btn-1 a span:nth-child(2):hover {
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
}

.primary-links ul .btn-2 {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.primary-links ul .btn-2 a {
  width: 100%;
  height: 100%;
  display: flex;
  color: #3d3632;
  background: #47a1f7;
  position: relative;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
}

.primary-links ul .btn-2 a::before {
  opacity: 1;
  z-index: 2;
  width: 170px;
  height: 150px;
  display: flex;
  color: #47a1f7;
  top: 50px;
  letter-spacing: 2px;
  content: "Q.Paper";
  position: absolute;
  border-radius: 50%;
  align-items: center;
  background: #3d3632;
  justify-content: center;
  transition: 0.4s ease-in-out;
}

.primary-links ul .btn-2 a:hover {
  transform: translateY(-50px);
}

.primary-links ul .btn-2 a:hover::before {
  transform: translateY(-50px);
}

.primary-links ul .btn-3 a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: #47a1f7;
  letter-spacing: 2px;
  transition: .5s;
}

.primary-links ul .btn-3 a::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: .5s;
  border-top: 2px solid #47a1f7;
  border-left: 2px solid #47a1f7;
}

.primary-links ul .btn-3 a::after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  transition: .5s;
  border-bottom: 2px solid #47a1f7;
  border-right: 2px solid #47a1f7;
}

.primary-links ul .btn-3 a:hover::before, .primary-links ul .btn-3 a:hover::after {
  width: 100%;
  height: 100%;
}

.primary-links ul .btn-3 a:hover {
  color: #3d3632;
  background: #47a1f7;
  transition-delay: .4s;
}

.primary-links .btn-1 a span:nth-child(1):hover ~ span:nth-child(2) {
  clip-path: polygon(0% 0%, 0 0, 0 50%, 0 100%, 0% 100%);
}

.container-1 {
  min-height: 100vh;
}

.container-2 {
  padding: 1rem 0;
  background: #adabab31;
}

.container-2 .heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.container-2 .heading::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 0.2rem;
  background: #45da27c9;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
}

.container-2 .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
}

.container-2 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 18rem;
  margin: 20px;
  background: #ebeef8;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

.container-2 .card-img {
  width: 100%;
  object-fit: cover;
  height: 13rem;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}

.container-2 .profile-img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border: 8px solid #ebeef8;
  border-radius: 50%;
  margin-top: -100px;
  margin-bottom: 10px;
  z-index: 1;
}

.container-2 .name {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #34325e;
}

.container-2 .person-title {
  font-size: 1rem;
  margin-bottom: 0px;
  color: #4b4b5b;
}

.container-2 .quotes {
  text-align: center;
  font-style: italic;
  margin: 12px 0;
  color: #333;
}

.container-2 .btn {
  padding: 10px 25px;
  color: #eee;
  background: #445ae3;
  border-radius: 20px;
  margin: 5px;
  transition: all 0.5s;
}

.container-2 .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

.container-2 .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px 0;
  margin-top: 12px;
  border-top: 2px #4b4b5b solid;
}

.container-2 .social-media a {
  font-size: 20px;
}

.container-2 .social-media a .fa-facebook-square {
  color: #3b5399;
}

.container-2 .social-media a .fa-twitter {
  color: #55acee;
}

.container-2 .social-media a .fa-instagram {
  color: #a33aab;
}

.container-2 .social-media a .fa-youtube {
  color: #ed3833;
}

footer {
  position: relative;
  padding: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  font-weight: normal;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

footer img {
  width: 150px;
}

footer .foo-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

footer .foo-about p {
  color: #4b4b5b;
}

footer .foo-about .foo-divider {
  border-top: 2px solid darkblue;
}

footer .foo-about ul {
  display: flex;
  justify-content: space-between;
}

footer .foo-about ul li:not(:last-child) {
  border-right: 2px solid darkblue;
  margin: 3px 0px;
}

footer .foo-about ul li:last-child {
  margin: 3px 0px;
}

footer .foo-about ul li a {
  margin-right: 3px;
  font-size: 11px;
  color: #34325e;
}

footer .foo-follow-visit_us {
  display: flex;
  gap: 9px;
  flex-direction: column;
  justify-content: center;
}

footer .foo-follow-visit_us .social-icon {
  display: flex;
  gap: 15px;
}

footer .foo-follow-visit_us .social-icon a {
  font-size: 1.3rem;
  color: #4b4b5b;
  width: auto;
  height: auto;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  transition: all .4s ease-in-out;
  overflow: hidden;
}

footer .foo-follow-visit_us .social-icon a:hover {
  color: #34325e;
  transform: translateY(-20px);
}

footer .foo-follow-visit_us .social-icon a:hover::before {
  transform: skewX(45deg) translateX(-100px);
}

footer .foo-follow-visit_us .social-icon a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(100px);
  transition: .5s;
}

footer .foo-follow-visit_us ul {
  margin: 10px;
}

footer .foo-support-work {
  display: flex;
  gap: 11px;
  flex-direction: column;
  justify-content: center;
}

footer .foo-support-work .social-icon {
  display: flex;
  gap: 15px;
}

footer .foo-support-work .social-icon a {
  font-size: 1.3rem;
  color: #4b4b5b;
  width: auto;
  height: auto;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  transition: all .4s ease-in-out;
  overflow: hidden;
}

footer .foo-support-work .social-icon a:hover {
  color: #34325e;
  transform: translateY(-20px);
}

footer .foo-support-work .social-icon a:hover::before {
  transform: skewX(45deg) translateX(-100px);
}

footer .foo-support-work .social-icon a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(100px);
  transition: .5s;
}

footer .foo-support-work ul {
  margin: 10px;
}

footer .foo-support-work p {
  margin: 8px;
  font-size: 12px;
  color: #4b4b5b;
}

footer .foo-links {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

footer .foo-links ul {
  display: inherit;
  gap: 10px;
}

footer .foo-links ul li {
  margin-bottom: 10px;
}

footer .foo-links ul li a {
  font-size: 12px;
  color: #4b4b5b;
}

footer .copyright {
  position: absolute;
  bottom: 2px;
  width: 90%;
  text-align: center;
  font-size: 12px;
}

/*===== HOME =====*/
/*===== Media Query & Keyframes =====*/
/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 720px) {
  body section:nth-child(1) {
    overflow: hidden;
    display: block;
    padding: 6rem 4vw 4vw 4vw;
  }
  header {
    flex-direction: column;
    padding: 10px;
    grid-gap: 10px;
  }
  header div.menu-btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 18px;
  }
  header span {
    width: 20px;
    height: 3px;
    background: #c983c7bf;
    margin: 1px 1px;
    transition: all 0.3s ease-in-out;
  }
  header .navigation.nav-hide {
    display: none;
  }
  header ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  header ul li {
    margin: 10px;
  }
  .menu-btn.open span:nth-child(2) {
    transform: translateX(-10px);
    background: transparent;
  }
  .menu-btn.open span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 4px);
  }
  .menu-btn.open span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -4px);
  }
  .content {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;
    margin: 0 0 2rem 0;
  }
  .content .illustration {
    width: 50vw;
    transform: translate(0);
  }
  .content .social-button {
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 2;
  }
  .content .social-button ul {
    flex-direction: column;
  }
  .content .social-button ul a {
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }
  .content .social-button ul a:hover {
    transform: translateX(-20px);
  }
  .primary-links ul .btn-1,
  .primary-links ul .btn-2,
  .primary-links ul .btn-3,
  .primary-links ul .btn-4 {
    width: 95px;
    height: 40px;
  }
  .primary-links .btn-2 a:hover::before {
    transform: translateY(-55px) !important;
  }
  .container-2 .carousel {
    overflow: hidden;
  }
  .container-2 .carousel .carousel-item,
  .container-2 .carousel .carousel-item--hidden {
    display: none;
  }
  .container-2 .carousel .carousel-item--visible {
    display: flex;
    animation: fadeOut 0.5s ease-in-out;
  }
  .container-2 .carousel .carousel-action {
    top: 50%;
    width: 20rem;
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    justify-content: space-between;
  }
  .container-2 .carousel .carousel-action button {
    border: none;
    background: transparent;
  }
  .container-2 .carousel .carousel-action button span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #4b4b5b;
    border-right: 5px solid #4b4b5b;
    border-radius: 3px;
    animation: animate 2s ease-in-out 5s 5;
  }
  .container-2 .carousel .carousel-action button:nth-child(1) {
    transform: rotate(135deg);
  }
  .container-2 .carousel .carousel-action button:nth-child(2) {
    transform: rotate(-45deg);
  }
  footer {
    flex-direction: column;
  }
  footer .copyright {
    text-align: start;
  }
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opcity linear;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(-5px, -5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(5px, 5px);
  }
}
/*# sourceMappingURL=style1.css.map */