@import 'variables';
@import 'mixins';


/*===== LAYOUT =====*/
body {
    font-weight: $font-weight;
    font-size: $normal-font-size;

    section {

        &:nth-child(1) {
            display: flex;
            position: relative;
            padding: 7rem 4vw 4vw 4vw;
            min-height: 100vh;
            background: $backpic center center fixed;
        }

        &:nth-child(2) {
            min-height: 100vh;
        }
    }
}

/* ===== Squares ===== */
.square {
    position: fixed;
    font-family: monospace;
    @include backBorder(10px);
    @include flexCenter(row);
    backdrop-filter: blur(5px);
    // font-size: var(--medium-font-size);
    // animation: animate 10s linear calc(-1s*var(--i)) infinite;

    &:nth-child(1) {
        top: 58%;
        left: 10%;
        height: 75px;
        width: 75px;
    }

    &:nth-child(2) {
        top: 20%;
        left: 20%;
        height: 80px;
        width: 80px;
    }

    &:nth-child(3) {
        top: 49%;
        left: 49%;
        height: 65px;
        width: 65px;
    }

    &:nth-child(4) {
        left: 72%;
        height: 93px;
        width: 93px;
        top: 71%;
    }

    &:nth-child(5) {
        top: 60px;
        right: 29px;
        height: 90px;
        width: 90px;
    }
}

/*===== NAV =====*/
header {
    position: fixed;
    top: 20px;
    right: 5%;
    left: 5%;
    z-index: 10;
    display: flex;
    padding: 20px 50px;
    align-items: center;
    backdrop-filter: blur(5px);
    justify-content: space-between;
    @include backBorder(15px);

    img {
        height: 30px;
    }

    .logo {
        display: flex;
        align-items: center;
        color: $primary-color;
        font-size: $medium-font-size;
        gap: 5px;
    }

    ul {
        display: flex;
        transition: all .3s ease-in-out;

        li {
            margin: 0 10px;

            a {
                color: $secondary-color;
                padding: 8px 15px;
                cursor: pointer;
                transition: all .3s ease-in-out;
                border-radius: 25px;

                &:hover,
                &.active {
                    background: rgba(255, 255, 255, 0.349);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

/*=== Content ===*/

.content {
    @include flexCenter(inherit);

    .about {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            line-height: 2rem;
        }
    }

    .illustration {
        width: 42vw;
        transform: translate(20px);
    }


    .divider {
        @include divider($divider-color-f, $divider-color-l);
        margin: 19px 17vw 19px 0;
    }

    @include social-icon(50px, 50px);
}

footer {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .9rem;
    font-weight: normal;
    gap: 15px;

    .foo-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        p {
            color: $social-icon-color;
        }

        .foo-divider {
            border-top: 2px solid darkblue;
        }

        ul {
            display: flex;
            justify-content: space-between;

            li {
                &:not(:last-child) {
                    border-right: 2px solid darkblue;
                    margin: 3px 0px;
                }

                &:last-child {
                    margin: 3px 0px;
                }

                a {
                    margin-right: 3px;
                    font-size: 11px;
                    color: $social-icon-color-hover;
                }
            }
        }
    }

    .foo-follow-visit_us {
        @include social-icon(30px, 30px)
    }
}



/*===== HOME =====*/

/*===== Media Query & Keyframes =====*/
@import 'mediaQuery';