@import 'variables';
@import 'mixins';

/*===== LAYOUT =====*/
body {
    font-weight: $font-weight;
    font-size: $normal-font-size;

    section {

        &:nth-child(1) {
            position: relative;
            padding: 7rem 4vw 4vw 4vw;
            min-height: 100vh;
            background: $backpic center center fixed;
        }

        &:nth-child(2) {
            min-height: 100vh;
        }
    }
}

/* ===== Squares ===== */
.square {
    position: fixed;
    font-family: monospace;
    @include backBorder(10px);
    @include flexCenter(row);
    backdrop-filter: blur(5px);
    font-size: var(--medium-font-size);
    // animation: animate 10s linear calc(-1s*var(--i)) infinite;

    &:nth-child(1) {
        top: 58%;
        left: 10%;
        height: 75px;
        width: 75px;
    }

    &:nth-child(2) {
        top: 20%;
        left: 20%;
        height: 80px;
        width: 80px;
    }

    &:nth-child(3) {
        top: 49%;
        left: 49%;
        height: 65px;
        width: 65px;
    }

    &:nth-child(4) {
        left: 72%;
        height: 93px;
        width: 93px;
        top: 71%;
    }

    &:nth-child(5) {
        top: 60px;
        right: 29px;
        height: 90px;
        width: 90px;
    }
}

/*===== NAV =====*/
header {
    position: fixed;
    top: 20px;
    right: 5%;
    left: 5%;
    z-index: 10;
    display: flex;
    padding: 20px 50px;
    align-items: center;
    backdrop-filter: blur(5px);
    justify-content: space-between;
    @include backBorder(20px);

    img {
        height: 30px;
    }

    .logo {
        display: flex;
        align-items: center;
        color: $primary-color;
        font-size: $medium-font-size;
        gap: 5px;
    }

    ul {
        display: flex;
        transition: all .3s ease-in-out;

        li {
            margin: 0 10px;

            a {
                color: $secondary-color;
                padding: 8px 15px;
                cursor: pointer;
                transition: all .3s ease-in-out;
                border-radius: 25px;

                &:hover,
                &.active {
                    background: rgba(255, 255, 255, 0.349);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

/*=== Content ===*/

.content {
    @include flexCenter(inherit);

    .about {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .illustration {
        width: 42vw;
        transform: translate(20px);
    }
}

/*===== HOME =====*/


/* ===== MEDIA QUERIES =====*/

@media screen and (max-width: 768px) {
    body {
        section:nth-child(1) {
            padding: 6rem 4vw 4vw 4vw;
        }
    }

    header {
        flex-direction: column;
        padding: 10px;
        grid-gap: 10px;

        div.menu-btn {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        span {
            width: 20px;
            height: 3px;
            background: $ham-color;
            margin: 1px 1px;
            transition: all .3s ease-in-out;
        }

        .navigation.nav-hide {
            display: none;
        }

        ul {
            flex-wrap: wrap;
            justify-content: center;

            li {
                margin: 10px;
            }
        }
    }

    .menu-btn.open {
        span {

            &:nth-child(2) {
                transform: translateX(-10px);
                background: transparent;
            }

            &:nth-child(1) {
                transform: rotate(45deg) translate(3px, 4px);
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(3px, -4px);
            }
        }
    }

    .content {
        flex-direction: column;
        gap: 20px;

        .illustration {
            width: 50vw;
            transform: translate(0);
        }
    }
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(30px);
    }
}