{% extends "base.html" %}
{% load static %}
{% block content_links %}
    <div class="content">
        <div class="about">
            <p>- Learn like a Pro</p>
            <h2>
                Try to not waste your valuable time to finding notes, get free notes
                for every subject just at one click.
            </h2>
            <p>
                Welcome my friend,<br>
                Here you will find Question paper, notes, Solutions by teacher &
                student, Imp news as well as Books.
            </p>
            <div class="divider"></div>
            <div class="social-button">
                <ul class="social-icon">
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-telegram-plane"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <img class="illustration" src="{% static '/images/Illustration/undraw_book_lover_mkck.svg' %}"/>
        </div>
    </div>
    <div class="primary-links">
        <ul>
            <li class="btn-1"><a><span>Notes</span><span>Notes</span></a>
            </li>
            <li class="btn-2"><a href="#detailed_div"><span>Q.Paper</span></a></li>
            <li class="btn-3"><a href="#">Solutions</a></li>
            <li class="btn-4"><a href="#">More<span></span><span></span><span></span><span></span></a></li>
        </ul>
    </div>
{% endblock content_links %}
{% block sections %}
    <section>
        <div class="container-1">
            <div class="sub-container-1" id="detailed_div">
                <div class="courses">
                    <h2>Courses :</h2>
                    <ul>
                        {% for c_id, course in course_list %}  
                            <li><a class="{% if c_id|safe == id|default:1|safe %} active {% endif %}" 
                             href="{% url 'home:ques' %}{{ c_id }}#detailed_div">{{ course }}</a></li>
                        {% endfor %} 
                    </ul>
                </div>
                
                <div class="subjects">
                    <h2>Sem :</h2>
                    <ul>
                    {% for sem_id_1, sem_name in sem_list.items %}
                    <li><a class="{% if sem_id_1|safe == sem_id|default:1|safe %} active {% endif %}"
                     href="{% url 'home:ques' %}{{ id|default:1 }}/{{sem_id_1}}#detailed_div">{{sem_name}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="combinations">
                    <h2>Subjects :</h2>
                    <ul>{% for subject in sub_list%}
                        <li><a class="{% if sub_name|safe|default:'hindi' == subject|safe %} active {% endif %}" 
                        href="{% url 'home:ques' %}{{ id|default:1 }}/{{sem_id|default:1}}/{{ subject }}#detailed_div">
                        {{subject|capfirst}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="sub-container-2" id="result">
                <div>
                    <h2>Result :</h2>
                    <ul>{% for qes_list in qes_list %}
                        <li><a href="http://www.{{ qes_list }}">{{qes_list}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock sections %}